#img404 {
    width: 50%;  /*width of parent container*/
    height: 50%; /*height of parent container*/
    object-fit: contain;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}